[submodule "third_party/CMMLU"]
	path = third_party/CMMLU
	url = https://github.com/haonan-li/CMMLU.git
[submodule "third_party/SpecForge"]
	path = third_party/SpecForge
	url = https://github.com/huluhuluu/SpecForge.git
	branch = feat/sliding-window
